body {
  margin: 0;
}

.header {
  margin-top: 4em;
  text-align: center;
  margin-bottom: 4em;
}

.nav-1 {
  font-family: Nunito;
  font-weight: 400;
  font-size: .75em;
  margin-top: 3.5em;
  text-transform: uppercase;
  letter-spacing: .3em;
}

nav a {
  text-decoration: none;
  color: #b1b1b1;
  margin: 0 1.25em;
}

img[src="images/Img1.png"] {
  width: 100%;
}
.insert-image {
  width: 33%;
}
.right {
  margin-left: 3%;
}
.container {
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}
.x {
  margin-top: 2em;
  margin-bottom: 5em;
}
.container_x img {
  width: 20%;
}
.second img {
  margin-top: -.38em;
}

.main {
  margin-top: 4.3em;
  text-align: center;
  padding: 0 20%;
}

.first > .title {
  font-family: Nunito;
  font-weight: 600;
  font-size: 2.25em;
  letter-spacing: .3em;
  text-transform: uppercase;
}

.first > p {
  font-size: .75em;
  font-family: Nunito;
  font-weight: 400;
  color: #9a9a9a;
  margin-top: 3.5em;
  padding-bottom: 2em;
}

.links {
  margin-bottom: 10em;
}
.links a {
  margin: 0 2.5%;
}
.links a img {
  height: 2%;
}

.footer {
  margin: 4em 4% 18em 4%;
}
ul {
  list-style: none;
}
.footer ul li {
  display: inline;
}
.footer img[src="images/Logo.png"] {
  width: 8%;
}

.contact {
  font-family: Nunito;
  font-weight: 600;
}
.contact_text {
  font-family: Nunito;
  font-weight: 400;
  color: #989898;
}
.logo img {
  position: absolute;
  left: 4%
}
.contact_text a {
  text-decoration: none;
  color: #989898;
}

.con-1 {
  position: absolute;
  left: 20%;
}
.con-2 {
  position: absolute;
  left: 50%;
}
.con-3 {
  position: absolute;
  left: 80%;
}

.nav-2 {
  font-family: Nunito;
  font-weight: 400;
  font-size: .75em;
  margin-top: 3.5em;
  text-transform: uppercase;
  letter-spacing: .3em;
  display: none;
}

.button {
  padding: 2.5em 1em 0 1em;
  border: 2px solid  #555555;
  border-radius: 1em;
  transition: .5s;
}
.button:hover {
  cursor: pointer;
}

.nav_content {
  position: absolute;
  background-color: #FEFEFE;
  right: 30%;
  left: 30%;
  text-align: left;
  padding: 2em 3em;
  border: 2px solid #555555;
  border-radius: .5em;
  font-size: 1.3em;
  transform-origin: 0 0;
  transform: rotateX(90deg);
  line-height: 2em;
  transition: .5s;
}

@media (max-width: 768px) {
  body {
    font-size: .8em;
  }
  .nav-1 {
    display: none;
  }
  .nav-2 {
    display: block;
  }
}
